@media only screen and (max-width: 1040px) {
    /* Add your responsive styles here */
    .header {
      flex-direction: column;
      align-items: center;
    }
  
    .left-side, .right-side {
      flex-direction: column;
      align-items: center;
    }
  
    .hero-container {
      flex-direction: column;
      padding: 50px 10px 0px;
    }
  
    .hero-container h1 {
      text-align: center;
      font-size: 36px;
    }
  
    .hero-container p {
      text-align: center;
    }
  
    .hero-left {
      width: 100%;
      text-align: center;
      padding: 0 10px;
    }
  
    .hero-container button {
      width: 150px;
      margin: 20px auto;
    }
  
    .hero-right img {
      width: 100%;
      height: auto;
      border-radius: 0;
    }
  
    .body-container {
      padding: 25px;
    }
  
    .body-container h1 {
      font-size: 28px;
      text-align: center;
    }
  
    .cards {
      justify-content: center;
    }
  
    .card {
      width: 100%;
      text-align: center;
    }
  
    .quote-container {
      padding: 100px 25px;
    }
  
    .quote-container .credit {
      padding-left: 0;
      text-align: center;
    }
  
    .cta-container {
      padding: 50px 0;
    }
  
    .cta {
      flex-direction: column;
      width: 100%;
      height: auto;
    }
  
    .cta button {
      width: 150px;
    }
  }
  