@media only screen and (max-width:1000px){
    .hero-container{
        flex-direction: column;
    }

    .hero-left p{
        width: 380px;
    }

    .hero-right img{
        width: 500px;
    }

    .hero-left button{
        align-self: center;
    }
}

@media only screen and (max-width:500px){
    .hero-container h1{
        font-size: 40px;
    }

    .hero-right img{
        width:300px;
        
    }

    .hero-left p{
        width:340px;
    }

    .cta{
        gap: 20px;
    }

    .hero-left button{
        align-self: center;
    }
}